body{
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}


.mainContainer{
    width: 500px;
    border: 1px solid #D6D6D6;
    height:700px ;
    border-radius: 10px 10px;
    background-color: aliceblue;
}

.loginContent{
    padding: 35px;
    font-size: 2rem;
}

.needAccount{
    display: flex;
    font-size: 1rem;
     
}

.inputBox{
    font-size: 1rem;
}


.frgtusrnme{
    font-size: 1rem; 
}